.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #6b068a;
  padding: 1rem 0;
  margin: 1rem 0;
}

.amount_btn {
  border-bottom: 1px solid #6b068a;
  border-top: 1px solid #6b068a;
  padding: 0.4rem 0.4rem;
  padding-top: 0.03rem;
  font-weight: bold;
}

.btn_minus {
  cursor: pointer;
  border: 1px solid #6b068a;
  border-radius: 15px 0px 0px 15px;
  padding: 0.5rem 1rem; 
}

.btn_plus {
  cursor: pointer;
  border: 1px solid #6b068a;
  padding: 0.5rem 1rem; 
  border-radius: 0px 15px 15px 0px;
}

.actions button:hover,
.actions button:active {
  background-color: #47035d;
  border-color: #47035d;
  color: white;
}